body {
  background: linear-gradient(to bottom, rgb(82, 122, 223), #101010);
  height: 94.3vh;
}

.title {
  color: rgb(235, 231, 231);
  text-align: center;
  font-size: 3rem;
  font-style: italic;
}

.subtitle {
  color: rgb(229, 226, 226);
  text-align: center;
  font-size: 2rem;
  font-style: italic;
}

.endpoints {
  margin-top: 200px;
  color: rgb(200, 195, 195);
  text-align: center;
  font-size: 2rem;
}

.list {
  justify-content: center;
  display: flex;
  list-style: none;
  font-size: 1.4rem;
}

.list-item {
  padding: 20px 40px 0 0;
}

.list-button {
  text-align: center;
  text-decoration: none;
  color: rgb(216, 208, 208);
  font-weight: 800;
  padding: 20px;
  background-color: rgb(42, 41, 41);
  border: 3px solid rgb(166, 163, 163);
  border-radius: 10px;
}

.list-button:hover {
  color: white;
  background-color: #727171;
}
